jupyterlab>3.0
#duckduckgo_search
ddgs
fastai
fastkaggle
gradio
graphviz
ipywidgets
jupyterlab==4.5.0rc1
kaggle
nbdev
plotly
seaborn
statsmodels
sympy
#timm==0.6.13
timm
#torch
#torchvision
transformers==4.44.2
datasets
sentencepiece
wandb
